<app-navbar></app-navbar>
<br>
<div class="container">
  <h3 class="text-center">Product Description</h3>
  <hr>
  <div class="row">
    <div class="col-md-6">
    <img src="assets/veges/brokoli.jpeg" class="img-fluid" alt="...">
    </div>

    <div class="col-md-6"><br><br>
    <p><b>Product Name:</b> Brokoli</p>
    <p><b>Description:</b>This is very healthy. You can use in many things. Also we sell this with per KG.</p>
    <p><b>Price:</b>£ 1.07</p>
        <br>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button type="button" class="btn btn-outline-success float-middle">Add to Cart</button>
            <button type="button" class="btn btn-outline-success float-middle">Add to Wishlist</button>
       
          </div>
            
    </div>
  </div>
  <app-footer></app-footer>
</div>
