<app-navbar></app-navbar>
<br>
<div class="container">
<h3 class="text-center">Fruits</h3>

<div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="assets/fruits/apple.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Brokoli</h5>
          <p class="text-center">£ 1.09 per Kg</p>
          <div class="card-body text-center">
            <button class="btn btn-outline-success" type="submit">Add to Cart</button><br><br>
            <p class="text-center"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="" class="bi bi-heart" viewBox="0 0 16 15">
                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
              </svg></p>
          </div>
          </div>
      </div>
    </div>
    
    <div class="col">
      <div class="card h-100">
        <img src="assets/fruits/orange.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Brokoli</h5>
          <p class="text-center">£ 1.09 per Kg</p>
          <div class="card-body text-center">
            <button class="btn btn-outline-success" type="submit">Add to Cart</button><br><br>
            <p class="text-center"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="" class="bi bi-heart" viewBox="0 0 16 15">
                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
              </svg></p>
          </div>
          </div>
      </div>
    </div>
    
    <div class="col">
      <div class="card h-100">
        <img src="assets/fruits/grapes.avif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Brokoli</h5>
          <p class="text-center">£ 1.09 per Kg</p>
          <div class="card-body text-center">
            <button class="btn btn-outline-success" type="submit">Add to Cart</button><br><br>
            <p class="text-center"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="" class="bi bi-heart" viewBox="0 0 16 15">
                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
              </svg></p>
          </div>
          </div>
      </div>
    </div>
    
  </div>
</div>
<br>
<app-footer></app-footer>