
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-3">
            <app-sidebar></app-sidebar>
        </div>

        <!-- Content -->
        <div class="col-md-9">
          <div class="bg-light flex-fill">
            <div class="p-2 d-md-none d-flex text-white bg-success">
                <a href="#" class="text-white" 
                   data-bs-toggle="offcanvas"
                   data-bs-target="#bdSidebar">
                    <i class="fa-solid fa-bars"></i>
                </a>
                <span class="ms-3">Grocery Shopping</span>
            </div>
        </div>
        <br>
        <div class="p-4">
        <nav style="--bs-breadcrumb-divider:'>';font-size:14px">
          <ol class="breadcrumb">
              <li class="breadcrumb-item">
                  <i class="fa-solid fa-house"></i>
              </li>
              <li class="breadcrumb-item">Update Product Record</li>
          </ol>
      </nav>
         <br>
         <form [formGroup]="updateform" (submit)="updateProduct($event, product)">
            <div class="col-md-7">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Product Name" formControlName="name" name="name">
                    <label for="floatingInput">Product Name</label>
                  </div>

                  <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="floatingInput" placeholder="Price" formControlName="price" name="price">
                    <label for="floatingInput">Price</label>
                  </div>

                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Description" formControlName="description" name="description">
                    <label for="floatingInput">Description</label>
                  </div>

                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Specifications" formControlName="specifications" name="specifications">
                    <label for="floatingInput">Specifications</label>
                  </div>

                  <div class="mb-3">
                    <label for="formFileMultiple" class="form-label">Upload Image</label>
                    <input class="form-control" type="file" id="formFileMultiple" multiple formControlName="image" name="image">
                  </div>
                  
                  <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="floatingInput" placeholder="Stock" formControlName="stock" name="stock">
                    <label for="floatingInput">Stock</label>
                  </div>


                  <div class="form-floating">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example" formControlName="isFeatured" name="isFeatured">
                      <option value="null">Select</option>
                      <option value="1">True</option>
                      <option value="2">False</option>
                    </select>
                    <label for="floatingSelect">Select isFeatured</label>
                  </div>

                  <br>

                  <button type="submit" class="btn btn-outline-success">Update Product Record</button>
            </div>
          </form>
            </div>
            <br>
            
        </div>
    </div>
</div>
