.notification {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    top: -5px;  
    right: -5px;  
    background-color: red;
    color: white;
    text-align: center;
    line-height: 15px;
    font-size: 10px;
}